.products-page {
    padding: 12px;
}

/* SECTION TITLE */
.section-title {
    margin: 16px 0 8px;
    font-size: 14px;
    font-weight: 600;
}

/* category card */
.category-card {
    background: linear-gradient(
            150deg,
            #FEC471 13%,
            #FAA549 40%,
            #F69F24 65%,
            #BF740C 100%
    );
    border-radius: 12px;
    padding: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.category-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #FE7329;

    display: flex;
    align-items: center;
    justify-content: center;
}
.category-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.category-name {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

/* type list*/
.type-list {
    background: #F89225;
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding-bottom: 8px;
}

.type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: white;
    font-size: 11px;
}
.type-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
.type-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

/* product card */
.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;

}

.product-name {
    font-size: 12px;
    margin: 6px 0 4px;
    text-align: center;

    /*giới hạn 2 dòng*/
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    min-height: calc(1.4em * 2);
}

.product-price {
    font-size: 13px;
    font-weight: 600;
    color: #14056E;
    text-align: center;

    margin-top: auto;
    margin-bottom: 6px;
}

.add-cart {
    border: none;
    background: none;
    font-size: 16px;

    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
