.products-page {
    padding: 12px;
}

/* SECTION TITLE */
.section-title {
    margin: 16px 0 8px;
    font-size: 14px;
    font-weight: 600;
}

/* category card */
.category-card {
    background: linear-gradient(150deg, #FFC57A, #FFA14A);
    border-radius: 12px;
    padding: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.category-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #FE7329;

    display: flex;
    align-items: center;
    justify-content: center;
}
.category-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.category-name {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

/* type list*/
.type-list {
    background: #F89225;
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding-bottom: 8px;
}

.type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: white;
    font-size: 11px;
}
.type-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
.type-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

/* PRODUCT CARD */
.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-name {
    font-size: 12px;
    margin: 6px 0;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 12px;
    font-weight: 600;
}

.add-cart {
    border: none;
    background: none;
    font-size: 16px;
}
