.page-bg {
    min-height: 100vh;
    position: relative;
}

.page-bg::before {
    top: 0px;
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('../assets/welcome/nen.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
